@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


$white:          #FFFFFF;
$black:          #000000;

$text-color:  $white;

$base: 16px;
$roboto-mono: 'Roboto Mono', monospace;

/* GRID */
$grid-max-width: 1200px;

$bg-color: $black;
$text-color--white: $white;